################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/distributed-system-app/FileContentIndex/a312b840-c7b2-456a-8c5c-e61a8e3af023.vsidx
/.vs/slnx.sqlite
/DocumentProcessorApp/DocumentProcessor.Tests/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Tests/obj
/DocumentProcessorApp/.vs/DocumentProcessorApp
/DocumentProcessorApp/DocumentProcessor.Api/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Api/obj
/.vs
/DocumentProcessorApp/DocumentProcessor.Console/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Console/obj
/DocumentProcessorApp/DocumentProcessor.Domain/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Domain/obj
/DocumentProcessorApp/DocumentProcessor.Infrastructure/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Infrastructure/obj
/DocumentProcessorApp/DocumentProcessor.Application/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Application/obj
/DocumentProcessorApp/.vs/slnx.sqlite
/DocumentProcessorApp/DocumentProcessor.Api/logs
/DocumentProcessorApp/.vs
/DocumentProcessorApp/DocumentProcessor.Common/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Common/obj
/DocumentProcessorApp/DocumentProcessor.Constants/bin/Debug/net8.0
/DocumentProcessorApp/DocumentProcessor.Constants/obj
