################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/distributed-system-app/FileContentIndex/a312b840-c7b2-456a-8c5c-e61a8e3af023.vsidx
/.vs/slnx.sqlite
