
name: Build and deploy .NET Azure Function App - KeyScanner

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore       
        run:  dotnet restore DocumentProcessorApp/DocumentProcessor.Functions.KeyScanner/DocumentProcessor.Functions.KeyScanner.csproj

      - name: Publish
        shell: pwsh
        run: |
          dotnet publish "DocumentProcessor.Functions.KeyScanner\DocumentProcessor.Functions.KeyScanner.csproj" `
            -c Release `
            -o ".\publish\KeyScanner"

      - name: Deploy to Azure Functions (KeyScanner)
        uses: Azure/functions-action@v1
        with:
          app-name: 'doc-processor-function-app'
          package: 'publish/KeyScanner'
          publish-profile: ${{ secrets.AZURE_FUNCTIONS_KEYSCANNER_PUBLISH_PROFILE }}


