
name: Build and deploy ASP.Net Core app to Azure Web App - doc-processor-api

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish
        run: >
          dotnet publish
          DocumentProcessorApp/DocumentProcessor.Api/DocumentProcessor.Api.csproj
          --configuration Release
          --output "${{ github.workspace }}\\publish"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: "${{ github.workspace }}\\publish"

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app
          path: "${{ github.workspace }}\\deploy"  

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'doc-processor-api'
          package: "${{ github.workspace }}\\deploy"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}


